<td> {{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.email}}</td>
<td>{{user.phone}}</td>
<td>{{user.province}}</td>


<td class = "buttons">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn-primary btn-sm" (click)="showUserDetail()"><fa name = "info"></fa></button>
    </div>
    <div class="col-sm-4">
    <button class="btn-primary btn-sm" (click)="updateUser()"><fa name = "pencil"></fa></button>
    </div>
    <div class="col-sm-4">
      <button class="btn-danger btn-sm" (click)="deleteUser()"><fa name = "trash-o"></fa></button>
    </div>
  </div>
</td>
